<div   class="container">
  <div class="card">
    <mat-card class="p-0 gradient-purple">
      <div class="p-1" fxLayoutAlign="space-between center">
        <p>Population</p>
        <div fxLayoutAlign="center center">
          <mat-icon class="icon-sm px-1">trending_up</mat-icon>
          <span>38%</span>
        </div>
      </div>
      <div class="w-100 h-100p">
        <ngx-charts-line-chart  [results]="lineChartMulti" [gradient]="lineChartGradient" [xAxis]="lineChartShowXAxis" [yAxis]="lineChartShowYAxis" [legend]="lineChartShowLegend" [showXAxisLabel]="lineChartShowXAxisLabel" [showYAxisLabel]="lineChartShowYAxisLabel" [xAxisLabel]="lineChartXAxisLabel" [yAxisLabel]="lineChartYAxisLabel" [autoScale]="lineChartAutoScale" [curve]="lineChartLineInterpolation" (select)="onSelect($event)"> </ngx-charts-line-chart>
      </div>
    </mat-card>
  </div>
  
</div>
