#divChart {
    display: block;
    width: 400px;
    height: 400px;
  }
  
  .chartdata{
      width: 100%;
     display: flex;
    .chart-section{
        width: 45%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .data-section{
        width: 45%;
        margin-left: 20px;
        margin-right: 20px;
    }
    }
